@mixin h1-defaults {
  background-color: rgba(240, 240, 240, 0.2);
  border-bottom: 1px solid $color;
  display: block;
  margin-top: 50px;
  width: 100%;
  z-index: 100;
}

@mixin ul-default {
  display: flex;
  list-style: none;
  background-color: aliceblue;
  height: 150px;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

@mixin li-default {
  border: 5px #ffffff solid;
  cursor: pointer;
  flex: 1;
  position: relative;
  text-align: center;
}

@mixin element-default {
  border-top-style: solid;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin transition-default($property, $duration, $ease, $delay){
  transition: $property $duration $ease $delay;
  -webkit-transition: $property $duration $ease $delay;
  -moz-transition: $property $duration $ease $delay;
  -o-transition: $property $duration $ease $delay;
}

@mixin animation-default($name, $duration, $timing, $delay, $iteration, $direction, $fill, $state){
  /* Default */
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
  animation-direction: $direction;
  animation-fill-mode: $fill;
  animation-play-state: $state;

  /* WebKit */
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $iteration;
  -webkit-animation-direction: $direction;
  -webkit-animation-fill-mode: $fill;
  -webkit-animation-play-state: $state;

  /* Mozilla */
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timing;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $iteration;
  -moz-animation-direction: $direction;
  -moz-animation-fill-mode: $fill;
  -moz-animation-play-state: $state;

  /* Opera */
  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $timing;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: $iteration;
  -o-animation-direction: $direction;
  -o-animation-fill-mode: $fill;
  -o-animation-play-state: $state;
}
