@mixin h1-defaults {
  background-color: rgba(240, 240, 240, 0.2);
  border-bottom: 1px solid $color;
  display: block;
  margin-top: 50px;
  width: 100%;
  z-index: 100;
}

@mixin ul-default {
  display: flex;
  list-style: none;
  background-color: aliceblue;
  height: 150px;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

@mixin li-default {
  border: 5px #ffffff solid;
  cursor: pointer;
  flex: 1;
  position: relative;
  text-align: center;
}

@mixin element-default {
  position: absolute;
  left: 0;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin transition-default($property, $duration, $ease, $delay){
  transition: $property $duration $ease $delay;
  -webkit-transition: $property $duration $ease $delay;
  -moz-transition: $property $duration $ease $delay;
  -o-transition: $property $duration $ease $delay;
}
