extends ./layouts/default

block content

  h1 Introduction To jQuery
  h2 Where do you want to go?
  p Plan your next adventure.
  ul(id="destinations")
    li Rome
    li Paris
    li(class='promo') Rio
