nav(class="navbar navbar-light bg-light" style="position: absolute; width: 100%; bottom: 0; border-top: 1px solid #000; z-index: 10;")

  #access-nav(style="width: inherit;")
    ul(class="navbar-nav mr-auto")
      li(id="btn-login" class="nav-item active")
        a(class="nav-link" href="#") Sign In
          span(class="sr-only") (current)
      li(id="btn-login" class="nav-item" style="display: none;")
        a(class="nav-link" href="#") Sign Out
