extends layouts/auth.pug

block content

  if(user)

    h1(style="margin-top:25px;") Dashboard

    a(href="users/logout" class="btn btn-warning") Sign Out.

  else

    h1 You Are Not Logged In
    a(href="users/login") Sign In
