extends layouts/auth.pug

block content

  .jumbotron

    h1(class="display-3") Jumbotron heading

    p(class="lead") Be stupid, be dumb, be funny, if that's who you are. Don't try to be someone that society wants you to be; that's stupid. So be yourself.

    div(style="display: flex;")
      a(class="btn btn-lg btn-success" href="users/register" role="button") Register An Account
      a(class="btn btn-lg btn-warning" href="users/login" role="button") Sign In
