extends ./layouts/default

block content

  h1 #{title}
  h2 #{description}
  p Plan your next adventure.
  ul(id="destinations")
    li Rome
      ul(id="france")
        li Paris
        li Marseille
        li Lyon
    li(class='promo') Rio
