block content

  h2 Arrays
  p Assigning From Array to Local Variables
  We typically access elements by their index, but doing so, for more than just a couple of elements can quickly turn into a repetitive task.

  div(style='display: flex; padding: 10px; background-color: fuchsia;')

    blockquote(style='flex: 1; padding: 5px; background-color: lightcyan;')
      pre
        code
          <ul></ul>


    div(style='flex: 1; padding: 5px; background-color: darkmagenta;')
      h4 Display Here
