#sld-welcome.slide.active
  #transparency

  a(id='touch-start' onclick="go('#sld-welcome','#sld-visitor-type')")

    h1 Welcome To

    i(id="left-arrow" class="fa fa-chevron-left")
    i(id="right-arrow" class="fa fa-chevron-right")

    img(id="brand" src="img/romeonavneg.svg")

    span Tap To Check In
