extends ./layouts/default.pug

block content

  // SLIDE STACK
  // A form composed of a deck of slides.

  // WELCOME SLIDE
  include ./partials/01__welcome.pug

  // VISITOR TYPE
  include ./partials/02__visitor-type.pug

  // VISITOR INFORMATION
  include ./partials/03__visitor-information.pug

  // NDA
  include ./partials/04__nda.pug
