h1 Keyframes & Animation

ul(id="keyframes")

  li(class="kyfrm-container")
    span(id="kyfrm-element-01") Element 1

  li(class="kyfrm-container")
    span(id="kyfrm-element-02") Element 2

  li(class="kyfrm-container")
    span(id="kyfrm-element-03") Element 3

  li(class="kyfrm-container")
    span(id="kyfrm-element-04") Element 4
      a(id="kyfrm-anchor-04") Pause Animation
