h1 Transitions

ul(id="transitions")

  li(class="trnstn-container")
    span(id="trnstn-element-01") Element 1

  li(class="trnstn-container")
    span(id="trnstn-element-02") Element 2

  li(class="trnstn-container")
    span(id="trnstn-element-03") Element 3

  li(class="trnstn-container")
    span(id="trnstn-element-04") Element 4
