extends ./layouts/default.pug

block content


  form(method="" action='')
    p Enter A Comma Separated List Of Pokemon Types (EX: 'fire', 'ground', etc).
    input(type='text' placeholder='Enter Trainer Pokemon Types')

  main(class="poke-container")
