/* BASE */
h1 {
  color: #CCCCCC;
  background-color: rgba(240, 240, 240, 0.2);
  border-bottom: 1px solid #CCCCCC;
  display: block;
  margin-top: 50px;
  width: 100%;
  z-index: 100; }

/*
TRANSITIONS
*/
#transitions {
  background-color: aliceblue;
  display: flex;
  height: 150px;
  list-style: none;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  /* ONE */
  /* TWO */ }
  #transitions li {
    border: 5px #ffffff solid;
    cursor: pointer;
    flex: 1;
    position: relative;
    text-align: center; }
    #transitions li span {
      border-top-style: solid;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  #transitions .trnstn-container:hover #trnstn-element-01 {
    transform: translate(200px, 100px) rotate(10deg); }
  #transitions #trnstn-element-01 {
    transition: transform 300ms cubic-bezier(0.43, -0.01, 0.2, 1) 0ms;
    -webkit-transition: transform 300ms cubic-bezier(0.43, -0.01, 0.2, 1) 0ms;
    -moz-transition: transform 300ms cubic-bezier(0.43, -0.01, 0.2, 1) 0ms;
    -o-transition: transform 300ms cubic-bezier(0.43, -0.01, 0.2, 1) 0ms;
    background-color: #FFF000; }
  #transitions .trnstn-container.clicked #trnstn-element-02 {
    transform: translate(200px, 100px) rotate(10deg); }
  #transitions #trnstn-element-02 {
    transition: transform 300ms ease-in-out 0ms;
    -webkit-transition: transform 300ms ease-in-out 0ms;
    -moz-transition: transform 300ms ease-in-out 0ms;
    -o-transition: transform 300ms ease-in-out 0ms;
    background-color: #48ff00; }
  #transitions #trnstn-element-03 {
    background-color: #00e5ff; }
  #transitions #trnstn-element-04 {
    background-color: #ff00d2; }

/*
KEYFRAMES AND Animations
*/
#keyframes {
  background-color: aliceblue;
  display: flex;
  height: 150px;
  list-style: none;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0; }
  #keyframes li {
    border: 5px #ffffff solid;
    cursor: pointer;
    flex: 1;
    position: relative;
    text-align: center; }
    #keyframes li span {
      border-top-style: solid;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    #keyframes li #kyfrm-element-01 {
      background-color: #ffa3fb;
      animation: kyfrmElement01 500ms ease-in-out 0s infinite; }
    #keyframes li #kyfrm-element-02 {
      background-color: #6cffd8;
      animation: kyfrmElement02 500ms ease-in-out 0s infinite; }
    #keyframes li #kyfrm-element-03 {
      /* Default */
      animation-name: kyfrmElement02;
      animation-duration: 500ms;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: 3;
      animation-direction: normal;
      animation-fill-mode: normal;
      animation-play-state: running;
      /* WebKit */
      -webkit-animation-name: kyfrmElement02;
      -webkit-animation-duration: 500ms;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: 3;
      -webkit-animation-direction: normal;
      -webkit-animation-fill-mode: normal;
      -webkit-animation-play-state: running;
      /* Mozilla */
      -moz-animation-name: kyfrmElement02;
      -moz-animation-duration: 500ms;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-delay: 0s;
      -moz-animation-iteration-count: 3;
      -moz-animation-direction: normal;
      -moz-animation-fill-mode: normal;
      -moz-animation-play-state: running;
      /* Opera */
      -o-animation-name: kyfrmElement02;
      -o-animation-duration: 500ms;
      -o-animation-timing-function: ease-in-out;
      -o-animation-delay: 0s;
      -o-animation-iteration-count: 3;
      -o-animation-direction: normal;
      -o-animation-fill-mode: normal;
      -o-animation-play-state: running;
      background-color: #a3beff; }
    #keyframes li #kyfrm-element-04 {
      /* Default */
      animation-name: kyfrmElement02;
      animation-duration: 500ms;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: normal;
      /* WebKit */
      -webkit-animation-name: kyfrmElement02;
      -webkit-animation-duration: 500ms;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
      -webkit-animation-fill-mode: normal;
      /* Mozilla */
      -moz-animation-name: kyfrmElement02;
      -moz-animation-duration: 500ms;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-delay: 0s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-direction: normal;
      -moz-animation-fill-mode: normal;
      /* Opera */
      -o-animation-name: kyfrmElement02;
      -o-animation-duration: 500ms;
      -o-animation-timing-function: ease-in-out;
      -o-animation-delay: 0s;
      -o-animation-iteration-count: infinite;
      -o-animation-direction: normal;
      -o-animation-fill-mode: normal;
      background-color: #ffe8a3; }
      #keyframes li #kyfrm-element-04 #kyfrm-anchor-04 {
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: #868e96;
        color: #FFFFFF; }
  #keyframes .is-paused {
    background-color: #000000;
    animation-play-state: paused; }

#kyfrm-grid {
  display: flex;
  padding: 5px; }
  #kyfrm-grid .grid-item {
    /* Default */
    animation-name: gridItem;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* WebKit */
    -webkit-animation-name: gridItem;
    -webkit-animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    /* Mozilla */
    -moz-animation-name: gridItem;
    -moz-animation-duration: 500ms;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
    /* Opera */
    -o-animation-name: gridItem;
    -o-animation-duration: 500ms;
    -o-animation-timing-function: ease-in-out;
    -o-animation-delay: 0s;
    -o-animation-iteration-count: 1;
    -o-animation-direction: normal;
    -o-animation-fill-mode: forwards;
    flex: 1; }

nav {
  padding: 50px 0px;
  text-align: center; }
  nav > ul {
    background-color: aliceblue;
    display: flex;
    height: 150px;
    list-style: none;
    margin-bottom: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    height: 65px;
    border-radius: 2px; }
    nav > ul > li {
      border: 5px #ffffff solid;
      cursor: pointer;
      flex: 1;
      position: relative;
      text-align: center;
      border: 2px #ffffff solid;
      height: 65px;
      line-height: 65px;
      text-transform: uppercase;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer; }
      nav > ul > li:hover {
        background: #D5D5D5;
        border-radius: 2px; }

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0; }
  ul.drop-menu li {
    background: #666;
    color: rgba(255, 255, 255, 0.7); }
    ul.drop-menu li:hover {
      background: #606060; }
    ul.drop-menu li:last-child {
      border-radius: 0px 0px 5px 5px; }

ul.drop-menu li {
  display: none; }

li:hover > ul.drop-menu li {
  display: block; }

/*
KEYRAMES EXAMPLE
*/
@keyframes kyfrmElement01 {
  from {
    border-top-width: 0px;
    background-color: #ffa3fb; }
  to {
    border-top-width: 5px;
    background-color: rgba(255, 163, 251, 0); } }

@keyframes kyfrmElement02 {
  0% {
    border-top-color: #FF0000;
    border-top-width: 0px;
    background-color: #6cffd8; }
  30%, 75% {
    border-top-width: 5px;
    background-color: rgba(255, 163, 251, 0.75); }
  100% {
    border-top-color: #FF0000;
    border-top-width: 1px;
    background-color: rgba(255, 163, 251, 0); } }

@keyframes kyfrmElement03 {
  0% {
    border-top-color: #FF0000;
    border-top-width: 0px;
    background-color: #6cffd8; }
  30%, 75% {
    border-top-width: 5px;
    background-color: rgba(255, 163, 251, 0.75); }
  100% {
    border-top-color: #FF0000;
    border-top-width: 1px;
    background-color: rgba(255, 163, 251, 0); } }

@keyframes gridItem {
  0% {
    background-color: #a8ffd0;
    height: 0px; }
  100% {
    background-color: #a8ffd0;
    height: 130px; } }
