


/*
KEYRAMES EXAMPLE
*/

@keyframes kyfrmElement01 {
  from{
    border-top-width: 0px;
    background-color: #ffa3fb;
  }
  to {
    border-top-width: 5px;
    background-color: rgba(255, 163, 251, 0);
  }
}


@keyframes kyfrmElement02 {
  0% {
    border-top-color: #FF0000;
    border-top-width: 0px;
    background-color: #6cffd8;
  }

  30%, 75% {
    border-top-width: 5px;
    background-color: rgba(255, 163, 251, .75);
  }

  100% {
    border-top-color: #FF0000;
    border-top-width: 1px;
    background-color: rgba(255, 163, 251, 0);
  }
}

@keyframes kyfrmElement03 {
  0% {
    border-top-color: #FF0000;
    border-top-width: 0px;
    background-color: #6cffd8;
  }

  30%, 75% {
    border-top-width: 5px;
    background-color: rgba(255, 163, 251, .75);
  }

  100% {
    border-top-color: #FF0000;
    border-top-width: 1px;
    background-color: rgba(255, 163, 251, 0);
  }
}

@keyframes gridItem {
  0% {
    background-color: #a8ffd0;
    height: 0px;
  }

  100% {
    background-color: #a8ffd0;
    height: 130px;
  }
}
