/*
TRANSITIONS
*/
#transitions {
  @include ul-default;

  li {
    @include li-default;

    span {
      @include element-default;
    }
  }

  /* ONE */
  .trnstn-container:hover #trnstn-element-01 {
    transform: translate(200px, 100px) rotate(10deg);
  }
  #trnstn-element-01 {
    @include transition-default(transform, 300ms, cubic-bezier(0.43,-0.01, 0.2, 1), 0ms);
    background-color: #FFF000;
  }




  /* TWO */
  .trnstn-container.clicked #trnstn-element-02 {
    transform: translate(200px, 100px) rotate(10deg);
  }
  #trnstn-element-02 {
    @include transition-default(transform, 300ms, ease-in-out, 0ms );
    background-color: #48ff00;
  }




  #trnstn-element-03 {
    background-color: #00e5ff;
  }
  #trnstn-element-04 {
    background-color: #ff00d2;
  }


}
