extends ./layouts/default

block content

  h1
  small

  .jumbotron

    h3 #{title}
      small(class="text-muted") #{description}

    p(class="lead")
      button(id="bigButton" class="btn btn-primary btn-lg" role="button") Get PHP

    hr(class="my-4")

    .row
      .col-sm-6
        form(id="getForm")
          h5 GET
          .input-group
            input(id="name1" name="name" type="text" class="form-control" placeholder="What's Your Name?")
            span(class="input-group-btn")
              button(class="btn btn-secondary" type="submit") Submit

          h1(id="displayName" class="display-4")

      .col-sm-6
        form(id="postForm")
          h5 POST
          .input-group
            input(id="name2" name="name" type="text" class="form-control" placeholder="What's Your Name?")
            span(class="input-group-btn")
              button(class="btn btn-secondary" type="submit") Submit

          h1(id="displayName2" class="display-4")

  script(src="js/get-php.js")
