extends ./layouts/default

block content

  h1
  small

  .jumbotron

    h3 #{title} 
      small(class="text-muted") #{description}

    p(class="lead")
      button(id="button" class="btn btn-primary btn-lg" role="button") Get Text File!

    hr(class="my-4")

    blockquote(class="blockquote")
      #textGoesHere.mb-0

  script(src="js/get-text-file.js")
