.container-1 {
  display: flex;
  justify-content: space-between; }
  .container-1 div {
    border: 1px #CCCCCC solid;
    padding: 11px; }
  .container-1 .box-1 {
    width: 27%; }
  .container-1 .box-2 {
    width: 27%; }
  .container-1 .box-3 {
    width: 27%; }
